{%include 'layout.html'%}
{%block body%}
<div class="container" style="margin-top:60px">
    <div class="row">
        <div class="col-md-3 col-lg-3 col-hidden-sm"></div>
        <div class="col-md-6 col-sm-6">
            <div class="row" style="margin-top: 100px;">
                <div class="login_frame"
                    style="border-bottom: 0 none; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);padding:14px;">

                    <form action="">
                        <div class="form-group">
                            <label for="email" style="color:#73289F;">Email address:</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <button type="submit" class="btn btn-primary" style="background:#73289F;color:white;">Submit</button>
                        <a href="/home" class="btn btn-default" style="background:#73289F; color:white;">Login</a>
                    </form>
                    <small><a href="/">Login</a></small>
                </div>
            </div>

        </div>
        <div class="col-md-3 col-lg-3 col-hidden-sm"></div>

    </div>
</div>

{%endblock body%}